// --------------------------------------------------------------
// ## GLOBAL BUTTONS
// --------------------------------------------------------------

.slds-button_nattbx-dial {
	width: 100%;
	height: 32px;
	background: $nattbx_green;
	font-weight: 700;
	color: $nattbx_hgrey;
}