// --------------------------------------------------------------
// ## DIAL PAD COMPONENT
// --------------------------------------------------------------

$nattbx_frame_shadow_col: #a8b7c7 !default;

.nattbx__dialpad {
	width: 160px;
	min-height: 150px;
	margin-top: $s_md;
	margin-right: auto;
	margin-left: auto;
}

.nattbx__dialpad-keypad {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	.dialpad-keypad-digit a {
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    align-items: center;
		width: 48px;
		height: 48px;
		margin-bottom: 4px;
		border-radius: 50px;
		background: rgba(100,204,201, 0.3);
		font-size: 22px;
		font-weight: 700;
		color: $nattbx_hgrey;

		&:hover {
			color: $nattbx_white;
			background: $nattbx_teal;
			box-shadow: 0 -1px 4px 0 $nattbx_frame_shadow_col;
			text-decoration: none;
		}

		@include link-transitions;
	}
}