// --------------------------------------------------------------
// ## GLOBAL FORM CONTROL
// --------------------------------------------------------------

.slds-form-element_nattbx-control { // modifier

	& .slds-form-element__label {
		visibility: hidden;
	}

	& .slds-form-element__nattbx-search {
		width: 160px;
		margin-top: $s_sm;
		margin-right: auto;
		margin-left: auto;
	}
}
.slds-form-element__nattbx-search { // modifier
	position: relative;

	& .slds-input {
		height: 32px;
	}
}
.slds-form-element__nattbx-button {

	.nattbx__right-col & {
		width: 150px;
		margin-top: $s_md;
		margin-right: auto;
		margin-left: auto;
	}
}
.slds-form-element__nattbx-select {
	margin-top: $s_lg;

	label {
		font-size: 0.90rem;
		margin-bottom: $s_xs;
	}

	& .slds-select {
		height: 32px;
		cursor: pointer;
	}

}