// --------------------------------------------------------------
// ## GLOBAL STANDARDS
// --------------------------------------------------------------

// 1. refactored as too light in mockup design.

// Global brand color of client
$nattbx_green:   rgb(196,214,0);
$nattbx_dgreen:  rgb(4,132,75);
$nattbx_hgrey:   rgb(73,83,92);
$nattbx_dgrey:   rgb(92,103,112);
$nattbx_mgrey:   rgb(173,179,183);
$nattbx_lgrey:   rgb(236,234,234); // 1.
$nattbx_white:   rgb(255,255,255);
$nattbx_teal:    rgb(100,204,201);


// Margins
$global-margin: 20px;

// Widths
$global-width-constant: 	1292px;
$global-width-constant-cti: 450px;

// Border Radius
$border: 4px;

// Ellipses
$lines-to-show: 3;
$lines-to-show-md: 2;