// --------------------------------------------------------------
// ## GLOBAL LAYOUT
// --------------------------------------------------------------

body, html {
	font-family: $global_font;
	font-size: $global_size_font;
	color: $nattbx_dgrey;
	background: #b3c5de;
}
.salesforce {
	max-width: $global-width-constant;
	margin-top: $s_lg;
	margin-right: auto;
	margin-left: auto;
	padding: $s_xs;
}
.salesforce__utility-bar {
	display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    padding-right: $s_lg;
	padding-left: $s_lg;
    background: rgb(255, 255, 255);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
    z-index: 4;

    & .slds-icon{
		width: 15px;
		height: 15px;
		fill: $nattbx_hgrey;
	}
}
.salesforce__utility-cta {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: $s_sm;
	padding-left: $s_sm;
	background: rgba(21, 137, 238, 0.1);
	border-bottom: 3px solid #2e749c;
}
.salesforce__utility-cta-text {
	margin-left: $s_xs;
	font-weight: 700;
	color: $nattbx_hgrey;;
}