// --------------------------------------------------------------
// ## OVERLAY COMPONENT
// --------------------------------------------------------------

//3. Stack order top of the entire cti frame - For stack order view buildNotes.md
.nattbx__overlay {
	position: absolute;
	// display: none;
	top: 0;
    left: -15px;
    width: 460px;
    height: 100%;
	background: rgba(0,0,0, 0.6);
	z-index: 3; //3.
}
.nattbx__overlay-message-box {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 12px;
	width: 420px;
    min-height: 140px;
	border-radius: $border;
	background: $nattbx_white;
	color: $nattbx_hgrey;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}