// --------------------------------------------------------------
// ## GLOBAL SPACING
// --------------------------------------------------------------

$s_xs: 0.5rem;	 // 8px
$s_sm: 0.625rem; // 10px
$s_md: 1rem; 	 // 16px
$s_lg: 1.25rem;	 // 20px
$s_xl: 2.5rem; 	 // 40px